@media screen and (min-width: 992px) and (max-width: 1200px){
    .list-item{
        font-size: 18px;
        margin: 12px 14px;
      }
    .contact-info-content h2{
        margin: 24px 0;
    }
}

@media only screen and (max-width: 991.5px) {
    .hero {
        min-height: 700px;
    }
    .navbar-div {
        background: rgb(255 255 255);
        background-image: url(../image/nav-background1.avif);
        background-blend-mode: hard-light;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .list-item {
        text-align: center;
        width: 50%;
        background: rgba(0,0,0,0.20);
    }
    .header-scrolled .list-item{
        margin: 12px 2px;
    }
    .list-item span::before {
        left: -100%;
    }
    .iam{
        font-size: 35px;
    }
    .hero .type-text{
        font-size: 35px;
    }
    #skills .title {
        transform: rotate(0deg);
        top: 74px;
        right: -30px;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        min-height: 650px;
    }
    .name-text {
        font-size: 4rem;
        margin: 24px 0 0 0;
    }
    .my-image {
        width: 250px;
    }
    .iam{
        padding: 0 6px 0 6px;
    }
}

@media (min-width: 768px){
	.fs-8 {
        font-size: 0.8rem;
    }
    #portfolio .portfolio_wrap {
        transition: 0.3s;
        z-index: 1;
        background: var(--bs-primary);
    }
    #portfolio .portfolio_wrap::before {
        content: "";
        background: #f56c6d99;
        position: absolute;
        left: 30px;
        right: 30px;
        top: 30px;
        bottom: 30px;
        transition: all ease-in-out 0.3s;
        z-index: 2;
        opacity: 0;
    }
    
    #portfolio .portfolio_wrap .portfolio_links_div {
        z-index: 4;
    }
    #portfolio .portfolio_wrap .portfolio_info {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        transition: all ease-in-out 0.3s;
        flex-direction: column;
    }
    
    #portfolio .portfolio_wrap:hover::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
    }
    
    #portfolio .portfolio_wrap img {
        transition: all 0.3s;
    }
    
    #portfolio .portfolio_wrap:hover img {
        transform: scale(1.1);
    }
    
    #portfolio .portfolio_wrap:hover .portfolio_info {
        opacity: 1;
    }
    
    #portfolio .portfolio_wrap:hover .portfolio_info::before {
        top: 15px;
        left: 15px;
    }
    #portfolio .portfolio_wrap .portfolio_links_div {
        z-index: 4;
    }
    #portfolio .portfolio_wrap .portfolio_links {
        margin: 10px 2px;
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }
    
    #portfolio .portfolio_wrap:hover .portfolio_info::after {
        bottom: 15px;
        right: 15px;
    }
    
    #portfolio .portfolio_wrap:hover .portfolio_info {
        opacity: 1;
    }
}

@media only screen and (max-width: 426px) {
    .hero {
        min-height: 480px;
    }
    .name-text {
        font-size: 3rem;
    }
    .my-image {
        width: 200px;
    }
    .iam{
        font-size: 26px;
        padding: 0 6px 0 4px;
    }
    .hero .type-text{
        font-size: 26px;
    }
    .down-arrow {
        width: 40px;
        height: 40px;
    }
    .down-arrow i{
        font-size: 16px;
    }
    .tabs-style-flip nav a span {   
        font-size: 8px;
    }
    #resume h2 {
        font-size: 20px;
        padding: 16px 0 16px 48px !important;
    }
    .timeline-content h3{
        font-size: 18px;
    }
    .timeline-content h4{
        font-size: 15px;
    }
    .timeline-content p, .timeline-content ul{
        font-size: 14px;
        letter-spacing: 1px;
    }
    .timeline-content ul{
        font-size: 13px;
    }
    .timeline-content span{
        font-size: 11px;
    }
    #wid .icon-svg {
        position: relative;
    }
}


@media only screen and (max-width: 576px) {
    #wid .icon-svg {
        position: relative;
    }
}


@media only screen and (min-width: 576px) {
    #wid .icon-svg {
        position: absolute;
        top: 7%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}


@media (min-width: 992px){
	.timeline-content {
	    padding-left: 64px;
	}
    .info-before:before {
        content: "";
        position: absolute;
        top: 2.875rem;
        right: 0;
        bottom: 0;
        box-shadow: inset 3px 3px 3px #202125, inset -3px -3px 3px #353535;
        border-radius: 50%;
        z-index: 0;
        left: 50%;
        width: 96%;
        transform: translateX(-50%);
        height: 65%;
        border-radius: 1rem;
        height: 13rem;
    }
    .info-before::after {
        content: "";
        position: absolute;
        top: 3.4375rem;
        right: 0;
        bottom: 0;
        box-shadow: 3px 3px 3px #202125, -3px -3px 3px #353535;
        border-radius: 50%;
        z-index: 0;
        left: 50%;
        width: 94%;
        transform: translateX(-50%);
        height: 59%;
        border-radius: 1rem;
        height: 11.76rem;
    }  
}
